<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class = "main-content"> 
      {{>header}}
     <h4>{{name}}</h4>
     <img class="portrait" src="../img/robot.png" alt="" />

    </div>
    {{>footer}}
  </body>
</html>